body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  display: none;
   display: flex; 
justify-content: space-between; 
align-items: center; 
padding: 1rem 2rem;
background: rgba(0, 0, 0, 0.6); 
color: white;
width: 100%;
position: fixed; 
margin-top: 0%;
  
}
.container-fluid {
  width: 100%;
  padding: 5rem;
 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background: rgb(3, 20, 48);
  color: black;
  font-weight: 600;
  padding: 12%;
  padding-bottom: 20%;
}
.container-fluid .home-content p{
  font-size: 150%;
}

.img-box img {
  width: 90%; 
  max-width: 300px; 
  border-radius: 50%;
}

.home-content {
  padding-top: 5%;
  text-align: left; 
  color: white;
}
#hl{
  font-size: 400%;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 2rem;
}

.header {
  display: none;
  display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 2rem;
background: rgba(0, 0, 0, 0.6); 
color: white;
width: 100%;
position: fixed; 
  
}

.navbar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
 
}



.navbar a:hover,
.navbar a.active {
  color: rgb(255, 255, 255);
  border-bottom: 3px solid rgb(2, 23, 56);
}

.logo {
  font-size: 25px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}

.logo:hover {
  color: rgb(2, 23, 56);
  text-shadow: 0 0 15px rgb(46, 46, 46),
               0 0 40px rgb(46, 46, 46);
  transform: scale(1.1);
}

.navbar a {
  padding: 1rem 2rem;
  color: rgb(3, 20, 48);
  text-decoration: none;
  color: white;
}

#name {
  color: white;
  font-weight: 600;
  font-size: 30px;
  display: inline-block;
  letter-spacing: 7px;
  white-space: nowrap;
  overflow: hidden;
  animation-name: typing;
  animation-direction: forwards;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column; 
    align-items: center;
  }

  .img-box {
    margin-bottom: 2rem; }

  .home-content {
    text-align: center; 
    
      text-align: left; 
      z-index: 1;
    
  }
}


.mode{
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body.dark {
  background-color: black;
  color: white;

}


body.dark * {
  color: inherit;  
  background-color: inherit;
}
  .heds{
      color:rgb(3, 20, 48); 
      font-size: 300%;
  }
.edu{
  width: 100%;
  padding: 5rem;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background: darkgray;
  color: black;
  font-weight: 600;
  padding: 12%;
  border: 1px solid white;
  padding-bottom: 20%;
}
#edu-info{
transition: 0.3s ease;
font-size: 200%;
color: rgb(86, 85, 85);
}
#edu-info:hover {
  color: rgb(2, 23, 56);
  text-shadow: 0 0 15px rgb(46, 46, 46),
               0 0 40px rgb(46, 46, 46);
  transform: scale(1.1);

 }


.other{
  width: 100%;
  padding: 5rem;
  display: flex; 
  border: 1px solid white;
  justify-content: space-between; 
  align-items: center;
  background: darkgray;
  color: black;
  font-weight: 600;
  padding: 12%;
  padding-bottom: 20%;
}
.ex{
  width: 100%;
  padding: 5rem;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background: darkgray;
  color: black;
  font-weight: 600;
  border: 1px solid white;
  padding: 12%;
  padding-bottom: 20%;
}

.sk{
  width: 100%;
  padding: 5rem;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background:darkgray;
  color: black;
  font-weight: 600;
  border: 1px solid white;
  padding: 12%;
  padding-bottom: 20%;
}

.footer{
  width: 100%;
  background: darkgray;
  align-items: center;
  padding: 2%;
  border: 1px solid black;
}
.footer .social{
  text-align: center;
}
.social a{
  color: rgb(0, 0, 0);
  border:2px solid rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 2px;
}
.other a{
  color: white;
  border:2px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 2px;
}

.sk span{
  color: white;
}
.skill-list{

  color: rgb(86, 85, 85);
  transition: 0.3s ease;
  font-size: 150%;
}
.skill-list:hover {
  color: rgb(2, 23, 56);
  text-shadow: 0 0 15px rgb(46, 46, 46),
               0 0 40px rgb(46, 46, 46);
  transform: scale(1.1);

 }
.project-list{
  color: rgb(86, 85, 85);
  transition: 0.3s ease;
  font-size: 180%;
}
.project-list:hover {
  color: rgb(2, 23, 56);
  text-shadow: 0 0 15px rgb(46, 46, 46),
               0 0 40px rgb(46, 46, 46);
  transform: scale(1.1);

 }

 .other-info{
  color: rgb(86, 85, 85);
  transition: 0.3s ease;
  font-size: 180%;
 }
 .other-info:hover {
  color: rgb(2, 23, 56);
  text-shadow: 0 0 15px rgb(46, 46, 46),
               0 0 40px rgb(46, 46, 46);
  transform: scale(1.1);

 }
 
 
 .contact-form {
  width: 100%;
  padding: 2rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background: darkgray;
  color: rgb(2, 23, 56);
  font-weight: 600;
  border: 1px solid white;
  justify-content: center; 
 }  
 
.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 80%; 
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 10%;
  margin-bottom: 5px;  
}

.contact-form textarea {
  width: 80%; 
  border: 1px solid #ccc;
  padding: 5px;
  resize: vertical; 
  margin-left: 10%;
}
.contact-form input[type="submit"]{
margin-left: 40%;
}