*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
  text-decoration: none;
  list-style: none;
}
.header 
{
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 35px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}


.container-fluid{

  margin-top: 80px;
  margin-left: 0;
  width: 200%;
  font-size: 30px;
  min-height: 100hv;
  background: rgb(3, 20, 48);
  display: flex;
  color: black;
  font-weight: 600;
  align-items: center;
   gap: 7em;  
  padding-bottom: 115px;
  
   }

   .home-content{
    padding-left: 60px;
    font-weight: 600;
   }
   .home-content h1{
    color: black;
    font-weight: 600;
   } 

   .mode{
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 
  body.dark {
    background-color: black;
    color: white;

  }
  

  body.dark * {
    color: inherit;  
    background-color: inherit;
  }

#hl{
  color: white;
  font-size: 60px;
  font-weight: 600;

}
.logo {
  font-size: 25px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease; 
}
 .logo:hover {
  color: rgb(2, 23, 56);
  text-shadow: 0 0 15px rgb(46, 46, 46),
               0 0 40px rgb(46, 46, 46);
  transform: scale(1.1);

 }

 span{
   color:rgb(2, 23, 56);
   
 }

 .navbar a{
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;

 }

 .navbar a:hover,
 .navbar a.active {

color:rgb(2, 23, 56);
border-bottom: 3px solid rgb(2, 23, 56);
 }




 .btn-contact:hover{
  background-color: white;
  box-shadow: 0 0 70px rgb(46, 46, 46);
  color: rgb(46, 46, 46)
 }


 #name{
  color: white;
  font-weight: 600;
  font-size: 30px;
  display: inline-block;
  width: 0;
  letter-spacing: 7px;
  white-space: nowrap;
  border-right: 3px solid rgb(255, 255, 255);
  overflow: hidden;
  animation-name: typing;
  animation-direction: forwards;
  animation-duration: 2s;
   /* animation-timing-function: steps(14); */
  animation-fill-mode: forwards;
  
 }
 @keyframes typing{
   0%{
    width: 0;
  } 
  100%{
   width: 45%;
  }
 }

   

.btn-box{
  width:500px;
  display: flex;
  gap: 2em;
}

#btn{
  padding: 10px 20px;
  background-color: black;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
font-size: 18px;
letter-spacing: 1px;
font-weight: 600;
}

#btn:hover{
  background-color: white;
  color:rgb(2, 23, 56);
}
#btn-contact{
  padding: 10px 20px;
  background-color: black;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
font-size: 18px;
letter-spacing: 1px;
font-weight: 600;
}
#btn-contact:hover{
  background-color: white;
  color:rgb(2, 23, 56);
}

.img-box img{
  border-radius: 70%;
  width: 300px;
  margin-top: 50px;

}
h3{
  color:rgb(255, 255, 255);
}

.summary{
  font-size: 20px;
}
.edu{
  margin-top: 0px;
  width: 210vh;
  min-height: 10hv;
  background-color:  dimgray;
  gap: 40em;
  padding: 200px 12% 200px;
  
   }
   #edu-info{
    display: inline-block;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    margin-top: 40px;
    font-size: 25px;
    transition: 0.3s ease; 
      align-items: center;
   }
   #edu-info:hover{

    text-shadow: 0 0 15px  rgb(35, 36, 36),
  0 0 40px rgb(35, 36, 36);
  transform: scale(1.1);
   }

   li {
    list-style: circle;
   }
   
   .skill{
    display: inline-block;
    padding: 10px 10px;
    margin: 5px;
    margin-top: 40px;
    font-size: 20px;
    transition: 0.3s ease; 
      align-items: center;
  
    }
    .skill:hover{
      text-shadow: 0 0 15px rgb(35, 36, 36),
  0 0 40px rgb(35, 36, 36);
  transform: scale(1.1);
    }
.sk{

  margin-top:0px;
  color: white;
  width: 210vh;
  min-height: 100vh;
  background:  dimgray;
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 200px 12% 200px;
  
   }

   
   
     ::-webkit-scrollbar{
      width: 15px;
     }
     ::-webkit-scrollbar-thumb{
      background-color: rgb(2, 23, 56);
     }
     ::-webkit-scrollbar-track{
      background-color: rgba(0, 0, 0, 0.6);
      width: 50px;
     }

     li {
      font-family: "Arial", Helvetica, sans-serif;
      font-weight: 600;
     }
     .other{
      
      margin-top:0px;
      color: white;
      width: 210vh;
      min-height: 100hv;
    background-color: dimgray;
      display: flex;
      align-items: center;
      gap: 7em;
      padding: 200px 12% 200px;
      
   }

   .heds{
    color: rgba(0, 0, 0,0.6);
    font-size: 50px;
    font-weight: 600;
    
   }
    
   #other-list {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20px;
    transition: 0.3s ease; 
   }
   #other-list:hover{
    text-shadow: 0 0 15px rgb(35, 36, 36),
  0 0 40px rgb(35, 36, 36);
  transform: scale(1.1);
   }

   #other-h{
    color:rgb(2, 23, 56);
    font-size: 30px;
    font-weight: 600;

   }
   .ex{
      
    margin-top:0px;
    width: 210vh;
    min-height: 100vh;
    background: dimgray;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 7em;
    padding: 200px 12% 200px;
    
 }
 .ex h2{
  margin-bottom:30% ;
  font-weight: 600;
  font-size: 50px;
 }
 

 .timeline {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative; 
}

.timeline li {
  display: inline-block;
  width: 45%; 
  margin-bottom:100px; 
  text-align: left;
}

.timeline li.left {
  text-align: right; 
  font-size: 20px;
  transition: 0.3s ease; 
}

.timeline li.right {
 font-size: 20px;
  text-align: left;
  padding-left: 50px; 
  transition: 0.3s ease;
}

.timeline::after {
  content: "";
  display: block;
  height: 400px; 
  width: 4px; 
  background-color: rgb(2, 23, 56); 
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  top: 0; 
}
.timeline li.right:hover{
  text-shadow: 0 0 15px rgb(35, 36, 36),
0 0 40px rgb(35, 36, 36);
transform: scale(1.1);
 }
 .timeline li.left:hover{
  text-shadow: 0 0 15px rgb(35, 36, 36),
0 0 40px rgb(35, 36, 36);
transform: scale(1.1);
 }
 


.contact-form{
  background-color:dimgray;
  margin-top:0;
  margin-bottom:0 ;
  padding-top: 6rem;

}
 .contact-form h2{
  text-align: center;
  color: rgb(244, 233, 233);
  margin-bottom: 1rem ;
  font-size: 40px;
 }
 .contact-form form{
max-width: 50em;
margin-left: 15rem ;
margin-bottom: 0;
text-align: center;
padding-bottom: 4em



 }

 .contact-form form .input-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

 }

 .contact-form form .input-box input,
 .contact-form form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size:18px ;
  color: black;
  background: white;
  border-radius: .8rem;
  margin: 1rem 0;
 }
.footer{
  position: relative;
  width: 210vh;
  padding: 20px 0;
  background-color: dimgray;

}
 .footer .social{
  text-align: center;
  color: white;
 }
 .footer .social a{
  color: white;
  border:2px solid rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 2px;
  

 }
 .other a{
  color: white;
  border:2px solid rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 2px;
 }